.Button {
  background-color: transparent;
  border: 3px solid black;
  color: #000;
  outline: none;
  cursor: pointer;
  font: inherit;
  /* padding: 10px; */
  margin-top: 10px; 
  font-weight: bold;
  z-index: 400;
  cursor: pointer; 
}

.Hover{
  padding:1px 2px;
}

.Hover:hover{
  transform: scale(0.9);
  transition: all 0.2s ease-in;
}