body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Overpass Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.bg-aqua {
  background: rgba(0, 255, 255, 0.8);
}

.overlay {
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  /* we will later control this style with react when we click or mouseOut */
  transform: translateY(-100%);
}

.highlight {
  padding-bottom: 0.25em;
  white-space: nowrap;
}

.highlight:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: 1;
}

.highlight-pink:before {
  background-color: #ff00e6;
}

.highlight-blue:before {
  background-color: #0525ff;
}

.highlight-aqua:before {
  height: 14px;
  background-image: url('../images/zigzag.svg');
  background-repeat: repeat-x;
  background-position-y: bottom;
}

.highlight-yellow:before {
  height: 10px;
  background-image: url('../images/wave.svg');
  background-repeat: repeat-x;
  background-position-y: bottom;
}

@media (min-width: 480px) {
  .m-auto-ns {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 120px;
  }
}

.title{
  color:yellow;
}

/* ↓ ↓ ↓  For ratioType in attractions to control 
  different ratio styles of images*/

.Landscape{
  top: 10vh;
  width: 70%;
  height: auto;  
  max-height: 80%;
  margin-left: -35vw;
}

.Portrait{
  top: 5vh;
  height: 90%;
  margin-left: -17vw;
}

.Square{
  top: 5vh;
  height: 90%;
  margin-left: -25vw;
}

/* 768px - 1024px */
@media only screen
  and (min-width:768px)
  and (max-width:1024px){
    .Landscape{
      top: 10vh;
    }
    .Portrait{
      margin-left: -25vw;
    }
    .Square{
      top: 10vh;
      width: 70%;
      height: auto;
      margin-left: -32vw;
    }
  }

@media only screen
  and (max-width:768px ){
    .Landscape{
      top: 10vh;
      margin-left: -30vw;
    }
    .Portrait{
      margin-left: -33vw;
      height: 75%;
    }
    .Square{
      top: 10vh;
      width: 70%;
      height: auto;
      margin-left: -33vw;
    }
  }

@media only screen
  and (max-width:480px){
    .Portrait{
      height: 60%;
      margin-left: -33vw;
    }
    .Square{
      top: 10vh;
      width: 67%;
      height: auto;
      margin-left: -32vw;
    }
  }

@media only screen
  and (max-width:480px)
  and (orientation: portrait) {
    .Landscape{
      width: 90%;
      top: 35vh;
      margin-left: -40vw;
    }
    .Portrait{
      top: 20vh;
      height: 65%;
      margin-left: -38vw;
    }
    .Square{
      top: 25vh;
      width: 90%;
      height: auto;
      margin-left: -39vw;
    }
  }

@media only screen
  and (min-width:768px)
  and (max-width:1024px){
    .Landscape{
      width: 90%;
      top: 30vh;
      margin-left: -40vw;
    }
    .Portrait{
      top: 10vh;
      height: 80%;
      margin-left: -35vw;
    }
    .Square{
      top: 20vh;
      width: 90%;
      height: auto;
      margin-left: -40vw;
    }
  }

